/Projects/Amara-Master-Server/nbproject/private/
/Projects/Amara-Core/nbproject/private/
/Projects/Amara-Core-HeadlessApplication/nbproject/private/
/Projects/Amara-Library-HeadlessApplication/nbproject/private/
/Projects/Amara-Network/nbproject/private/
/Projects/Amara-Master-Client/nbproject/private/
/Projects/Amara-Library-Network/nbproject/private/
/Projects/Amara-Library-EntitySystem/nbproject/private/
/Projects/Amara-Ingame-Server/nbproject/private/
/Projects/Amara-Game/nbproject/private/
/Projects/Amara-Cyclic-Server/nbproject/private/
/Projects/Amara-Shared-Server/nbproject/private/
/Projects/Amara-Library-Expressions/nbproject/private/
/Projects/Amara-Ingame-Client/nbproject/private/
/Projects/Amara-Library-DisplayApplication/nbproject/private/
/Projects/Amara-Core/build/
/Projects/Amara-Master-Client/build/
/Projects/Amara-Core/dist/
/Projects/Amara-Library-HeadlessApplication/build/
/Projects/Amara-Library-Network/build/
/Projects/Amara-Library-Physics/nbproject/private/
/Projects/Amara-Library-Cinematics/nbproject/private/
/Projects/Amara-Master-Client-Application/nbproject/private/
/Projects/Amara-Library-WindowedApplication/nbproject/private/
/Projects/Amara-Library-WindowApplication/nbproject/private/
/Projects/Amara-Master-Client-Application-LoginScreens/nbproject/private/
/Projects/Amara-Game/build/
/Projects/Amara-Library-WindowApplication/build/
/Projects/Amara-Master-Server-Application/nbproject/private/
/Projects/Amara-Master-Server/build/
/Projects/Amara-Master-Server-Application/build/
/Projects/Amara-Library-Network/dist/
/Projects/Amara-Library-Physics/build/
/Projects/Amara-Library-EntitySystem/build/
/Projects/Amara-Library-Expressions/build/
/Projects/Amara-Library-EntitySystem/dist/
/Projects/Amara-Library-Physics/dist/
/Projects/Amara-Library-Expressions/dist/
/Projects/Amara-Ingame-Client/build/
/Projects/Amara-Game/dist/
/Projects/Amara-Library-DisplayApplication/build/
/Projects/Amara-Library-HeadlessApplication/dist/
/Projects/Amara-Library-DisplayApplication/dist/
/Projects/Amara-Library-WindowApplication/dist/
/Projects/Amara-Ingame-Client/dist/
/Projects/Amara-Ingame-Server/build/
/Projects/Amara-Ingame-Server/dist/
/Projects/Amara-Master-Server/dist/
/Projects/Amara-Master-Server-Application/dist/
/Projects/Amara-Master-Client/dist/
/Projects/Amara-Master-Client-Application/build/
/Projects/Amara-Master-Client-Application/dist/
/Projects/Amara-Test/nbproject/private/
/Projects/Amara-Test/build/
/Projects/Amara-Test/dist/
/Projects/assets/Models/erika/animations/
/Projects/assets/Models/ganfaul/animations/
/Projects/assets/Models/kachujin/animations/
/Projects/assets/Models/maria/animations/
/Projects/assets/Models/maw/animations/
/Projects/assets/Models/mutant/animations/
/Projects/assets/Models/vampire_a_lusth/animations/
/Projects/Amara-Master-Server-Application/workspace/
/Projects/Amara-Master-Client-Application/workspace/
/Projects/Amara-Tool-Map-Editor/nbproject/private/
/Projects/Amara-Tool-Map-Editor/build/
/Projects/Amara-Tool-Model-Viewer/nbproject/private/
/Projects/Amara-Tool-Model-Viewer/build/
/Projects/Amara-Tool-Model-Viewer/workspace/
/Projects/Amara-Tool-Map-Editor/workspace/
/Projects/Amara-Library-Tonegod-Emitter/build/
/Projects/Amara-Library-Tonegod-Emitter/dist/