<?xml version="1.0" encoding="UTF-8"?>
<nifty xmlns="http://nifty-gui.sourceforge.net/nifty.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nifty-gui.sourceforge.net/nifty.xsd http://nifty-gui.sourceforge.net/nifty.xsd">
    <useStyles filename="nifty-default-styles.xml"/>
    <useControls filename="nifty-default-controls.xml"/>
    <screen id="start" controller="amara.engine.applications.ingame.client.gui.ScreenController_Menu">
        <layer childLayout="absolute">
            <control id="menu_window" name="window" title="Menu" x="315px" y="150px" width="650px" height="400px" hideOnClose="true" visible="false">
                <panel id="menu_container" childLayout="horizontal" width="100%" height="100%">
                </panel>
            </control>
        </layer>
    </screen>
</nifty>